html,body,#root{
  height: 100%;
}

.stock-container{
  padding-left: 5% !important;
  margin-top: 25px !important;
}

.modal-open .edit-modal-header{
  border-bottom: none;
  display: block;
  text-align: center;
  padding-bottom: 0;
}